.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
  height: 100vh;
}

.MuiButton-root + .MuiButton-root {
  margin-left: 12px;
}

.leaflet-container {
  width: 100vw;
  height: calc(100vh - 84px);
}

.control-area {
  display: flex;
  height: 84px;
  padding: 8px 8px;
}

.control-area .input-container,
.control-area .button-container {
  padding: 0 8px;
}

.MuiInputLabel-root {
  text-align: left;
}

.input-container .MuiFormControlLabel-root {
  margin-right: 0;
  white-space: nowrap;
}

.leaflet-popup-content .popup-icon {
  width: 45px;
  height: 39px;
}

.leaflet-popup-content .popup-icon.now-icon {
  transform: translateY(14px);
}

.leaflet-popup-content p {
  margin: 10px 0;
  line-break: anywhere;
}

.leaflet-popup-content .MuiPaper-elevation1 {
  box-shadow: none;
}

.leaflet-popup-content .MuiDivider-root {
  margin-top: 12px;
  margin-bottom: 18px;
}
